:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border-radius: 3px;
  --light: #EAE2B7;
  --focus: #FCBF49;
  --primary: #F77F00;
  --secondary: #D62828;
  --dark: #003049;
}

html {
  height: 100dvh;
  overscroll-behavior: none;
  overflow: hidden;
  font-size: 100%;
}

body {
  background-color: var(--dark);
  transition: background-color 300ms ease;
}

.skills {
  background-color: var(--dark);
}

.contact {
  background-color: var(--secondary);
}

.workExperience {
  background-color: var(--focus);
}

.workProject {
  background-color: var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root {
  height: 100%;
}

button,
a {
  border-radius: var(--border-radius);
  border: none;
  padding: 0.6em 1.2em;
  line-height: 1;
  font-size: 1.25em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary);
  color: black;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
  box-shadow: 0px 5px 0px var(--secondary);
}

button:hover,
a:hover {
  background-color: var(--focus);
}

button:focus,
button:focus-visible,
a:focus,
a:focus-visible {
  outline: 3px solid var(--focus);
  outline-offset: 2px;
}

button:active,
a:active {
  background-color: var(--light);
}

a {
  text-decoration: none;
  text-align: center;
}

dialog {
  padding: 0.5rem;
  background-color: var(--dark);
  border-radius: 8px;
  border: 0.5px solid white;
  box-shadow: 0px 0px 0px var(--primary);
  position: absolute;
  transition: opacity 0.25s ease-in-out, top 0.25s ease-in-out, right 0.25s ease-in-out, box-shadow 0.25s ease-in-out 0.125s;
  opacity: 0;
  top: 52.5%;
  margin-inline: auto;
  width: 100%;
  height: calc(50dvh - 1rem);
}

dialog.modal-visible {
  opacity: 1;
  top: 50%;
  box-shadow: 8px 8px 0px var(--primary);
}

dialog::backdrop {
  display: none;
}

.interaction-area {
  pointer-events: none;
  position: fixed;
  z-index: 1;
  inset: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.interaction-area :is(.search, button) {
  pointer-events: all;
}

.search {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  font-size: 1rem;
  margin-top: auto;
  padding: 0.5em 1em;
  outline: 1px solid var(--dark);
  background-color: var(--light);
  transition: outline 250ms ease, opacity 250ms ease;
  opacity: 1;
}

.search.hidden {
  opacity: 0;
}

.search .icon {
  fill: none;
  stroke: var(--dark);
  transition: stroke 250ms ease;
}

.search:focus-within {
  outline: 1px solid var(--secondary);
}

.search:focus-within .icon {
  stroke: var(--secondary);
}

.search input[type="text"] {
  font-size: clamp(16px, 1rem, 24px);
  outline: none;
  border: none;
  background: none;
  color: var(--secondary);
}

.swipe-prompt {
  /* TODO: animate gesture */
  text-align: center;
  font-size: 2rem;
}

.swipe-prompt.acknowledged {
  /* TODO: animate disappear */
  display: none;
}

/* TODO: style this more like a blocking modal */
.swipe-prompt img.pointer {
  animation: swipe 1.5s ease-in-out infinite normal;
}

.actions {
  position: relative;
  font-size: 0.875rem;
  width: 100%;
  margin-inline: auto;
  max-width: 850px;
}

.actions .download {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.carousel-button {
  box-shadow: unset;
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
  position: absolute;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6em 0.6em;
}

.carousel-button,
.carousel-button:hover,
.carousel-button:active,
.carousel-button:focus,
.carousel-button:focus-visible {
  background-color: transparent;
}

.carousel-button p {
  /* TODO: need a better way of getting contrast color for text */
  filter: drop-shadow(0px 0px 1.5px black)
}

.carousel-button:focus,
.carousel-button:focus-visible {
  outline: unset;
}

.carousel-button svg {
  background-color: color-mix(in srgb, var(--primary), black 37.5%);
  border-radius: 50%;
  transition: background-color 100ms ease-in-out;
}

.carousel-button:hover svg {
  background-color: var(--primary);
}

.carousel-button:active svg {
  background-color: var(--focus);
  transition: none;
}

.carousel-button:focus svg {
  outline: 3px solid var(--focus);
  outline-offset: 2px;
}

.carousel-button.left {
  left: 0%;
  top: 50%;
}

.carousel-button.right {
  right: 0%;
  top: 50%;
}

.carousel-button p {
  padding-inline: 0.6em;
}

@media screen and (min-width: 600px) {
  dialog {
    top: 0%;
    right: -2.5%;
    margin-right: 1rem;
    margin-block: auto;
    width: 50%;
    height: 100dvh;
  }

  dialog.modal-visible {
    top: 0%;
    right: 0%;
  }

  .interaction-area {
    padding: 0.5em 1em 3em;
  }

  .search {
    margin-bottom: auto;
    margin-top: unset;
  }
}

@keyframes swipe {
  0% {
    opacity: 0;
    transform: translateX(100%) rotate(15deg);
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(-100%) rotate(-15deg);
  }
}

/* TODO: handle user preferences */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}