:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border-radius: 3px;
  --light: #EAE2B7;
  --focus: #FCBF49;
  --primary: #F77F00;
  --secondary: #D62828;
  --dark: #003049;
}

html {
  height: 100dvh;
  overscroll-behavior: none;
  overflow: hidden;
  font-size: 100%;
}

body {
  background-color: var(--dark);
  transition: background-color 300ms ease;
}

.skills {
  background-color: var(--dark);
}

.contact {
  background-color: var(--secondary);
}

.workExperience {
  background-color: var(--focus);
}

.workProject {
  background-color: var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root {
  height: 100%;
}

button {
  border-radius: var(--border-radius);
  border: none;
  padding: 0.6em 1.2em;
  line-height: 1;
  font-size: 1.25em;
  font-weight: 500;
  font-family: monospace;
  background-color: white;
  text-transform: uppercase;
  color: black;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
  border-color: black;
  border-width: 2px 4px 4px 2px;
  border-style: solid;
}

button:hover {
  background-color: var(--focus);
}

button:focus,
button:focus-visible {
  outline: 3px solid var(--focus);
  outline-offset: 2px;
}

a,
a:visited {
  color: var(--primary)
}

a:hover {
  color: var(--focus);
}

a:active {
  color: var(--secondary);
}

button:active {
  background-color: var(--light);
}

dialog {
  font-family: monospace;
  padding: 1rem;
  background-color: var(--dark);
  border-radius: var(--border-radius);
  border-color: white;
  border-width: 1px 3px 3px 1px;
  border-style: solid;
  position: absolute;
  transition: opacity 0.25s ease-in-out, top 0.25s ease-in-out, right 0.25s ease-in-out;
  opacity: 0;
  top: 52.5%;
  margin-inline: auto;
  width: 100%;
  height: calc(50dvh - 1rem);
}

dialog.modal-visible {
  opacity: 1;
  top: 50%;
}

dialog::backdrop {
  display: none;
}

dialog h2 {
  text-align: center;
}

dialog button {
  margin-top: 0.5em;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

li::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--primary);
  display: inline-block;
  margin-right: 0.5em;
}

.company-logo {
  display: flex;
  justify-content: center;
}

.company-logo img {
  min-width: 0;
  max-width: 150px;
  object-fit: contain;
}

.company {
  display: flex;
  gap: 0.5em;
  justify-content: center;
}

.duration {
  font-style: italic;
  font-size: 0.75rem;
  text-align: center;
}

.duration .delta {
  color: var(--primary);
}

.interaction-area {
  pointer-events: none;
  position: absolute;
  inset: 0;
  padding: 0.25em 1em 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  transition: opacity 250ms ease-in-out;
  opacity: 0;
}

body.show-interaction-area .interaction-area {
  opacity: 1
}

.interaction-area :is(.search, button) {
  pointer-events: all;
}

.search {
  font-family: monospace;
  display: flex;
  align-items: center;
  gap: 1em;
  width: 100%;
  max-width: 450px;
  border-radius: var(--border-radius);
  font-size: 1rem;
  margin-bottom: auto;
  padding: 0.5em 1em;
  background-color: white;
  transition: opacity 300ms ease;
  opacity: 1;
  border-color: black;
  border-width: 2px 4px 4px 2px;
  border-style: solid;
  /* Force GPU for mobile devices */
  transform: translateZ(0);
}


.search.hidden {
  opacity: 0;
}

.search .icon {
  fill: none;
  stroke: var(--dark);
  /* transition: stroke 250ms ease; */
}

.search:focus-within {
  background-color: var(--light);
}

.search input[type="text"] {
  font-size: clamp(16px, 1rem, 24px);
  font-family: inherit;
  outline: none;
  border: none;
  background: none;
  color: black;
}

.search input[type="text"]::placeholder {
  font-family: monospace;
  color: black;
  opacity: 0.75
}

.swipe-prompt {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.25em 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 2rem;
  opacity: 1;
  border-radius: var(--border-radius);
  backdrop-filter: blur(4px);
}

.swipe-prompt.acknowledged {
  opacity: 0;
}

.swipe-prompt img.pointer {
  animation: swipe 1.5s ease-in-out infinite normal;
}

.actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  font-size: 0.875rem;
  margin-inline: auto;
  width: 100%;
  max-width: 850px;
}

.download {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.actions button:disabled.download {
  opacity: 0.5;

}

.carousel-button {
  width: fit-content;
  border: none;
  box-shadow: unset;
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6em 0.6em;
}

.carousel-button.left {
  justify-self: start;
}

.carousel-button.right {
  justify-self: end;
}

.carousel-button,
.carousel-button:hover,
.carousel-button:active,
.carousel-button:focus,
.carousel-button:focus-visible {
  background-color: transparent;
}

.carousel-button:focus,
.carousel-button:focus-visible {
  outline: unset;
}

.carousel-button svg {
  background-color: black;
  border-radius: 50%;
  transition: background-color 100ms ease-in-out;
}

.carousel-button:hover svg {
  background-color: var(--primary);
}

.carousel-button:active svg {
  background-color: var(--focus);
  transition: none;
}

.carousel-button:focus svg {
  outline: 3px solid var(--focus);
  outline-offset: 2px;
}

.carousel-button p {
  padding-inline: 0.6em;
}

@media screen and (min-width: 600px) {
  dialog {
    top: 0%;
    padding: 2em;
    right: -2.5%;
    margin-right: 1rem;
    margin-block: auto;
    width: 50%;
    height: fit-content;
  }

  dialog.modal-visible {
    top: 0%;
    right: 0%;
  }

  .interaction-area {
    padding: 0.5em 1em 6em;
  }
}

@keyframes swipe {
  0% {
    opacity: 0;
    transform: translateX(100%) rotate(15deg);
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(-100%) rotate(-15deg);
  }
}

/* TODO: handle user preferences */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}