:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border-radius: 24px;
  --primary: #646cff;
  --secondary: #242424;
}

html {
  height: 100dvh;
  overscroll-behavior: none;
  overflow: hidden;
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root {
  height: 100%;
}

button,
a {
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  line-height: 1;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover,
a:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible,
a:focus,
a:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  text-decoration: none;
  text-align: center;
}

dialog {
  padding: 0.5rem;
  background-color: rgb(11, 20, 86);
  border-radius: 8px;
  border: 0.5px solid white;
  box-shadow: 0px 0px 0px rgb(131, 145, 255);
  position: absolute;
  transition: opacity 0.25s ease-in-out, top 0.25s ease-in-out, right 0.25s ease-in-out, box-shadow 0.25s ease-in-out 0.125s;
  opacity: 0;
  top: 52.5%;
  margin-inline: auto;
  width: 100%;
  height: calc(50dvh - 1rem);
}


dialog.modal-visible {
  opacity: 1;
  top: 50%;
  box-shadow: 8px 8px 0px rgb(131, 145, 255);
}

dialog::backdrop {
  display: none;
}

.interaction-area {
  pointer-events: none;
  position: fixed;
  z-index: 1;
  inset: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.interaction-area :is(.search, button) {
  pointer-events: all;
}

.search {
  font-size: 1rem;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  font-size: 1rem;
  margin-bottom: auto;
  padding: 0.6em 1.2em;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  background-color: var(--secondary);
  transition: outline 250ms ease;
}

.search:focus-within {
  outline: 1px solid var(--primary);
}

.search input[type="text"] {
  outline: none;
  border: none;
  background: none;
}

.search .icon {
  fill: none;
  stroke: rgba(255, 255, 255, 0.5);
  transition: stroke 250ms ease;
}

.search:focus-within .icon {
  stroke: var(--primary);

}

p.swipe-prompt {
  /* TODO: animate gesture */
  text-align: center;
  font-size: 2rem;
}

p.swipe-prompt.acknowledged {
  /* TODO: animate disappear */
  display: none;
}

.actions {
  font-size: 0.875rem;
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  max-width: 850px;
}

.actions .download {
  margin-inline: auto
}

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6em 0.6em;
}

.carousel-button p {
  padding-inline: 0.6em;
}

@media screen and (min-width: 600px) {
  dialog {
    top: 0%;
    right: -2.5%;
    margin-right: 1rem;
    margin-block: auto;
    width: 50%;
    height: 100dvh;
  }

  dialog.modal-visible {
    top: 0%;
    right: 0%;
  }

  .interaction-area {
    padding: 1em 1em 3em;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}