:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100dvh;
  overscroll-behavior: none;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root {
  height: 100%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

dialog {
  padding: 0.5rem;
  background-color: rgb(11, 20, 86);
  border-radius: 8px;
  border: 0.5px solid white;
  box-shadow: 0px 0px 0px rgb(131, 145, 255);
  position: absolute;
  transition: opacity 0.25s ease-in-out, top 0.25s ease-in-out, right 0.25s ease-in-out, box-shadow 0.25s ease-in-out 0.125s;
  opacity: 0;
  top: 52.5%;
  margin-inline: auto;
  width: 100%;
  height: calc(50dvh - 1rem);
}


dialog.modal-visible {
  opacity: 1;
  top: 50%;
  box-shadow: 8px 8px 0px rgb(131, 145, 255);
}

dialog::backdrop {
  display: none;
}

@media screen and (min-width: 600px) {
  dialog {
    top: 0%;
    right: -2.5%;
    margin-right: 1rem;
    margin-block: auto;
    width: 50%;
    height: 100dvh;
  }

  dialog.modal-visible {
    top: 0%;
    right: 0%;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}